<!DOCTYPE html>
<html lang="en">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
        <title><%= title %></title>
        <link rel='stylesheet' href='/styles/bootstrap-responsive.css' />
        <link rel='stylesheet' href='/styles/bootstrap.css' />
        <link rel='stylesheet' href='/styles/index.css' />
        <%-stylesheets%>
        <script src="scripts/raphael.js" type="text/javascript" charset="utf-8"></script>
        <script src="scripts/jquery-1.9.1.min.js" type="text/javascript" charset="utf-8"> </script>
        <script src="scripts/DrawChinese.js" type="text/javascript" charset="utf-8"> </script>
        <%-scripts%>
    </head>
    <body>
        <%-blocks.header%>
        <div class="header">
	        <div class="container">
	        	<div class='che_logo'>Cheese</div>
	        	<div class='che_nav hidden-phone'>
                    <a href="top100">
                        <div>常用一百字</div>
                    </a>
                    <a href="numbers">
                        <div>學數字</div>
                    </a>
                    <a href="exam">
                        <div>考試</div>
                    </a>
	        	</div>
	        	<div class='mobile-nav visible-phone'></div>
			</div>
        </div>
        <%-blocks.subHeader%>
        <div class='mobile-menu-container tmms-visible-phone'>
            <div class='mobile-menu-arrow'></div>
            <div id='menu-Menu' class='mobile-menu-inner'>
                <ul>
                    <li><a>常用一百字</a></li>
                    <li><a>學數字</a></li>
                    <li><a>考試</a></li>
                    <li></li>
                </ul>
            </div>
        </div>

        <div class='demo_wrapper'>
        	<div class='container'>
	        	<div class='demo_area'>
                     <div class='exam_block'></div>
	        		 <input class="user-input" type="text" name="word" >
	    		</div>
        	</div>
        </div>
        <%- body -%>
        <div class='footer'></div>
    </body>


    <script>
        $(".mobile-nav").on("click",function(){
            $(".mobile-menu-container").toggleClass("active");
        });



    </script>



</html>
